.container{
    display:grid;
    grid-template-columns: 100px 50%;
    grid-template-rows: 60px auto auto;
    grid-template-areas: "div1 div2 ";
    justify-content: center;
                          
}

.div1{
    background: brown;
    grid-area: div1;
    text-align: center;
    padding-top: 20px;
}
.div2{
    background: skyblue;
    grid-area: div2;
    padding-left: 20px;
}