
body{
    display: grid;
    margin: 0%;
    padding: 0%;
}
.bod{
  margin: 0%;
  font-family: sans-serif;
  display: grid;
  grid-template-columns:30% 10% auto;
  grid-template-rows: auto;
  grid-template-areas: "hd hd hd"
                       "aside main main"
                       "section section section"
                        "footer footer footer";
  column-gap: 10px;
  row-gap: 10px;                      
}
header{
    grid-area: hd;
    background:skyblue;
    text-align: center;
    
}
ul{
    list-style: none;
    justify-content: center;
    gap: 20px;
    display: flex;
    font-weight: 600;

}
ul :hover{
    color: white;
}
main{
    grid-area: main;
    background: brown;
    padding-left: 20px;
}

aside{
    grid-area: aside;
    background: blanchedalmond;
    text-align: center;
}
.head1{
    padding-top: 30px;
    
}
.wrapper{
    grid-area: section;
    padding: 12px;
    height: fit-content;
    grid-column-start: 2;
    background: wheat;
   
    
    
}
.divs{
    display: flex;
    gap: 30px
    

}
.div1{
    
    text-align: center;
    color: rgb(109, 226, 241);
    
}
footer{
    grid-area: footer;
    background: skyblue;
    text-align: center;
    align-self: stretch;
}